body {
  font-family: "Roboto", sans-serif;
}
.photo-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.photo-subtitle {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.logo-blue {
  color: #2196f3;
}

.logo-black {
  color: #000000;
}

.logo-white {
  color: #ffffff;
}

.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px #000000;
}
.logo-footer {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

ul {
  list-style-type: none;
}

footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
  background: #2f303a;
}

.address {
  text-decoration: none;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.info-footer {
  text-decoration: none;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff99;
}

.navigation {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.button-color:hover,
.button-color:focus {
  color: #ffffff;

  background-color: #2196f3;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.mail-color {
  color: #757575;
}
